@import url('https://fonts.googleapis.com/css2?family=WindSong&family=Playfair+Display&family=Waterfall&display=swap');

body {
  background-color: #041C32;
  color: #D8E3E7;
  margin: 0;
  /*overflow: auto;*/
  font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
  display: none;
}


a{
  color: black;
}
h1 {
  text-align: center;
  color: #51C4D3;
  font-size: 32px;
  margin-block-start: 21px;
}  

h2 {
  text-align: center;
  color: #51C4D3;
}

ol {
  width: min(400px, 65%);
  text-align: justify;
  padding: 30px;
}

li{
  background-color: #064663;
  text-align: justify;
  border-style: groove;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
li:hover {
  box-shadow: inset 0 0 3px #51C4D3, 0 0 10px #51C4D3;
}

hr {
  border-spacing: 50%;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 80px;
  border-width: 10px;
  border-color: #064663;
  margin-top: 50px;
  margin-bottom: 50px;
}

p{
  background-color: #064663;
  text-align: justify;
  border-style: groove;
  border-width: 1px;
  border-radius: 30px;
  padding: 20px;
  width: 70%;
}
p:hover{
  box-shadow: inset 0 0 5px #51C4D3, 0 0 15px #51C4D3;
}

table, th, td {
  text-align: center;
  border: 2px groove #51C4D3;
  border-radius: 10px;
  padding: 3px;
}

th, td {
  background-color: #064663;
}
table{
  width: 80%;
  border-color: transparent;
}

table:hover, th:hover, td:hover{
  box-shadow: inset  0 0 3px #51C4D3,  0 0 10px #51C4D3;
  border-color: #51C4D3;
}

form{
  text-align: center;
  width: 70%;
}

input {
  width: 80%;
}
textarea{
  width: 80%;
}


.topBar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #51C4D3;
  border-bottom: 5px solid #064663;
  z-index: 999;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 100%;
  color: #041C32;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bottomBar{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #51C4D3;
  border-top: 5px solid #064663;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
  /*margin-top: 100px;*/
  z-index: 999;
}

.noBorderNoShadow{
  border-width: 0;
  box-shadow: none;
}

.noBorderNoShadow:hover{
  border-width: 0;
  box-shadow: none;
}


.outerBox{
  position: relative;
  top: 5vh;
  left: 50vw;
  width: 98vw;
  height: 90vh;
  transform: translate(-50%, 0);
}

.leftInnerBox{
  position: absolute;
  height: 60%;
  top: 0;
  left: 0;
  width: 55%;
}

.rightInnerBox{
  position: absolute;
  height: 60%;
  top: 0;
  left: 55%;
  width: 30%;
  /*text-align: center;*/
}

.homePageImg{
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
  /*border: 2px double rgba(81, 196, 211, .75);*/
}
.homePageImg:hover {
  /*border: 5px solid rgba(81, 196, 211, .75);*/
  box-shadow: 0 0 3px #bcf8ecff;
}

.homePageName{
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  /*transform: translate(0,-50%);*/
  font-size: min(9vw, 4.5rem);
  text-align: center;
  font-family: 'WindSong', serif;
  padding-bottom: 4vw;
}

.homePageTxt{
  position: absolute;
  top: 5%;
  left: 50%;
  width: 95%;
  margin: 0;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
}


.btmInnerBox{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
}
/*
@media only screen and (max-device-width : 480px) {

  .bottomBar {
      font-size: 18px;
  }

  .topBar{
    font-size: 18px;
  }

  .outerBox{
    top: 0vh;
  }

  hr{
    margin-top: 100px;
    margin-bottom: 100px;
  }


  table, th, td {
    padding: 10px;
  }

  ol{
    width: 70%;
  }

  form{
    width: 90%;

  }
}*/

/*
@media only screen and (min-device-width : 481px) {

  .bottomBar {
      font-size: 19px;
  }
  .topBar{
    font-size: 20px;
  }

}*/